
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-container: rgba(217, 217, 217, 0.19);
  --btn-reserva: #F3DE8A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-fundo: #fff;
  }
}

body {
  background: var(--bg-fundo);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-container {
  background-color: var(--bg-container);
}

.btn-reserva:hover {
  background-color: var(--btn-reserva);
}

.react-datepicker__input-container input::placeholder{
  color: black; 
  opacity: 1; 
  font-size: 16px;
 
}

.react-datepicker__input-container input {
  border-radius: 12px; 
  cursor:pointer;
} 

select{
  color: black;
  opacity: 1; 
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 12px;
  cursor:pointer;
}
